@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;700&display=swap");

:root {
  --primary-color: #ffffff;
  --text-color: #000000;
  --hovertext-color: #bf1e23;
  --secondary-color: #efa506;
  --secondry-text: #575757;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

.imageabout {
  background-image: linear-gradient(
      rgba(40, 23, 62, 0.62),
      rgba(40, 23, 62, 0.62)
    ),
    url(./Assets/partners-banner.png);
  width: auto;
  height: 60rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#imageabout {
  background-image: linear-gradient(
      rgba(40, 23, 62, 0.62),
      rgba(40, 23, 62, 0.62)
    ),
    url(./Assets/leadersipbanner.png);
}

.aboutText {
  padding: 15rem 0;
  color: var(--primary-color);
  margin-left: 20rem;
  width: 50rem;
}

.peronalFull {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5rem 20rem;
  border-bottom: dashed 1px rgba(83, 74, 186, 0.5);
}

#leader__full {
  border-bottom: none;
}

.personalImage {
  width: 30rem;
  height: 20rem;
}

.personalImagenext {
  object-fit: cover;
  height: auto;
  width: 70%;
}

.personalImage img {
  width: 100%;
  height: 100%;
}

.personalImagenext img {
  width: 100%;
  height: 100%;
}

.personalText h1 {
  color: var(--hovertext-color);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.7rem;
}

.personalImagenext h1 {
  color: var(--hovertext-color);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.7rem;
  margin-bottom: 2rem;
}

.personalImagenext p,
.personalText p {
  color: var(--secondry-text);
  font-size: 1.8rem;
  line-height: 3.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: light;
}

.personalText ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 3rem;
}

.personalText li {
  list-style-type: disc !important;
  color: var(--secondry-text);
  font-size: 1.8rem;
  line-height: 3.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: light;
}

.containernew {
  background-color: #f8f9fa !important;
  padding: 10rem 0;
}

#text {
  width: 40%;
  padding: 17rem 0;
  margin-left: 20rem;
}

.icon {
  margin-bottom: 2rem;
}

.icon svg {
  width: auto;
  height: 2rem;
}

.icon a {
  margin: 0 1rem;
  color: var(--hovertext-color);
}

.mainError {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.Error {
  text-align: center;
}

.ErrorCode {
  font-size: 15rem;
}

.ErrorMsg {
  font-size: 5rem;
}

.ErrorMsgNext {
  font-size: 3rem;
  margin-top: 2rem;
}

@media (max-width: 1680px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 1280px) and (max-width: 1480px) {
  html {
    font-size: 55%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 45%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 34%;
  }
  .personalImagenext img {
    width: 80%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 40%;
  }

  .banner__main,
  .who,
  .why__banner {
    display: flex;
    flex-direction: column;
  }

  .banner__main .right {
    display: none;
  }

  .banner__main .left {
    margin: auto;
  }

  .who .who__bg {
    margin-top: 10rem;
  }

  .who .who__are {
    width: 90%;
  }

  .why__banner .banner {
    width: 60%;
    height: 40rem;
  }

  .why__banner .banner p {
    margin-top: 5rem;
  }

  .why__banner .banner img {
    width: 20%;
  }

  .personalImagenext img {
    width: 70%;
  }

  .menu {
    padding: 2rem;
  }

  .menu label {
    display: initial;
  }

  .navmain {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    display: none;
    padding: 0 10rem;
  }

  .navlist {
    width: 100%;
  }

  .navlist a {
    font-size: 4rem !important;
    padding: 2rem;
  }

  .submenu {
    position: relative;
    width: 100%;
    padding-left: 2.5rem;
  }

  .submenu li {
    background-color: var(--primary-color);
  }

  #menu_bar:checked ~ #navmain {
    display: initial;
  }

  .navlist a::after {
    float: right;
  }

  .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .row .personalText {
    text-align: center;
    margin: 5rem 0;
  }

  .container .row .personalImage,
  .personalImagenext {
    width: 30%;
    height: auto;
  }

  .container .row .personalImagenext img {
    padding-left: 5rem;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  html {
    font-size: 25%;
  }

  .banner__main,
  .who,
  .why__banner {
    display: flex;
    flex-direction: column;
  }

  .banner__main .right {
    display: none;
  }

  .banner__main .left {
    margin: auto;
  }

  .who .who__bg {
    margin-top: 10rem;
  }

  .who .who__are {
    width: 90%;
  }

  .why__banner .banner {
    width: 60%;
    height: 40rem;
  }

  .why__banner .banner p {
    margin-top: 5rem;
  }

  .why__banner .banner img {
    width: 20%;
  }

  .personalImagenext img {
    width: 50%;
  }

  .menu {
    padding: 2rem;
  }

  .menu label {
    display: initial;
  }

  .navmain {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    display: none;
    padding: 0 10rem;
  }

  .navlist {
    width: 100%;
  }

  .navlist a {
    font-size: 4rem !important;
    padding: 2rem;
  }

  .submenu {
    position: relative;
    width: 100%;
    padding-left: 2.5rem;
  }

  .submenu li {
    background-color: var(--primary-color);
  }

  #menu_bar:checked ~ #navmain {
    display: initial;
  }

  .navlist a::after {
    float: right;
  }

  .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .row .personalText {
    text-align: center;
    margin: 5rem 0;
  }

  .container .row .personalImage,
  .personalImagenext {
    width: 30%;
    height: auto;
  }

  .container .row .personalImagenext img {
    padding-left: 10rem;
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  html {
    font-size: 20%;
  }

  .banner__main,
  .who,
  .why__banner {
    display: flex;
    flex-direction: column;
  }

  .banner__main .right {
    display: none;
  }

  .banner__main .left {
    margin: auto;
  }

  .who .who__bg {
    margin-top: 10rem;
  }

  .who .who__are {
    width: 90%;
  }

  .why__banner .banner {
    width: 60%;
    height: 40rem;
  }

  .why__banner .banner p {
    margin-top: 5rem;
  }

  .why__banner .banner img {
    width: 20%;
  }

  .menu {
    padding: 2rem;
  }

  .menu label {
    display: initial;
  }

  .navmain {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    display: none;
    padding: 0 10rem;
  }

  .navlist {
    width: 100%;
  }

  .navlist a {
    font-size: 4rem !important;
    padding: 2rem;
  }

  .submenu {
    position: relative;
    width: 100%;
    padding-left: 2.5rem;
  }

  .submenu li {
    background-color: var(--primary-color);
  }

  #menu_bar:checked ~ #navmain {
    display: initial;
  }

  .navlist a::after {
    float: right;
  }

  .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .row .personalText {
    text-align: center;
    margin: 5rem 0;
  }

  .container .row .personalImage,
  .personalImagenext {
    width: 25%;
    height: auto;
  }
}

@media (min-width: 280px) and (max-width: 380px) {
  html {
    font-size: 15%;
  }

  .banner__main,
  .who,
  .why__banner {
    display: flex;
    flex-direction: column;
  }

  .banner__main .right {
    display: none;
  }

  .banner__main .left {
    margin: auto;
  }

  .who .who__bg {
    margin-top: 10rem;
  }

  .who .who__are {
    width: 90%;
  }

  .why__banner .banner {
    width: 60%;
    height: 40rem;
  }

  .why__banner .banner p {
    margin-top: 5rem;
  }

  .why__banner .banner img {
    width: 20%;
  }

  .menu {
    padding: 2rem;
  }

  .menu label {
    display: initial;
  }

  .navmain {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    display: none;
    padding: 0 10rem;
  }

  .navlist {
    width: 100%;
  }

  .navlist a {
    font-size: 4rem !important;
    padding: 2rem;
  }

  .submenu {
    position: relative;
    width: 100%;
    padding-left: 2.5rem;
  }

  .submenu li {
    background-color: var(--primary-color);
  }

  #menu_bar:checked ~ #navmain {
    display: initial;
  }

  .navlist a::after {
    float: right;
  }

  .logo {
    width: 10%;
  }

  .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .row .personalText {
    text-align: center;
    margin: 5rem 0;
  }

  .container .row .personalImage,
  .personalImagenext {
    width: 15%;
    height: auto;
  }

  .container .row .personalImagenext img {
    padding-left: 5rem;
  }
}
